.button {
  display: inline-block;
  padding: 11px 33px 14px;
  background: #f72464;
  box-shadow: 0px 4px 15px 0px rgba(123, 12, 46, 0.35);
  border-radius: 4px;

  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;

  transition: box-shadow 0.2s ease-in;
}

.button:hover {
  box-shadow: 0px 4px 25px 0px rgba(184, 13, 64, 0.671);
  background: #f4185a;
}

.button-outline {
  padding: 10px 40px 11px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #f72464;
  background: #fff;
  color: #777;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.button-outline:hover {
  background-color: #f72464;
  color: #ffffff;
}
